

   .footer{
     
       display:flex;
       flex-direction: row;
       justify-content: space-evenly;
       height: auto;
       margin-top: 100px;
       align-items: center;
   }

.iconos {
    
   font-size: 60px;
   margin: 50px;
   transform: color;
  
}
@media only screen and (max-width:570px){

    .footer{
        flex-direction: column;
        
        justify-content: center;
    }
    
}

.div__direccion{
    color:$colorp;
}