
.logo{
    height: 100px;
    width: 200px;
    
}

.navbar{
    height: 100px;
    
}

ul li a{
    font-size:20px ;
     transition: 1s;
     color: #F5F3E8; /* Probar este color */
     text-transform: uppercase;
     margin: 5px;
     
}

 ul li a:hover{
    transform: scale(1.1);
    
    background-color:#F5E7E7;
    border-radius: 5px;
}
.navbar{
    z-index: 1;
}