.haciendoInstalaciones {
    font-size: 40px;
    height: 150px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
   


}

.item {
    
    min-height: 200px;
    min-width: 200px;
    
}

.item:hover{
    transform: scale(1.1);
    transition: 2s;
}

.contenedorInstalaciones {
    display: grid;
    gap: 10px;
    height: auto;
    width: 90%;
    margin: 0 auto;
    
    .itema {

        
        background-image: url(../multimedia/buffetinstalaciones.jpg);
        background-size: cover;
        background-position: center;
        
    }

    .itemb {
       
        background-image: url(../multimedia/gimnasioinstalaciones.jpg);
        background-size: cover;
        background-position: center;
    }

    .itemc {
       
        background-image: url(../multimedia/salonfitnessinstalaciones.jpg);
        background-size: cover;
        background-position: center;
    }

    .itemg {
       
        background-image: url(../multimedia/Hàbit_Saludable.jpg);
         background-size: cover;
        background-position: center;
    }

    .iteme {
       
        background-image: url(../multimedia/vestuariosinstalaciones.jpg);
        background-size: cover;
        background-position: center;
    }

    .itemf {
       
        background-image: url(../multimedia/indoorinstalaciones.jpg);
        background-size: cover;
        background-position: center;
    }

    .itemd {
       
        background-image: url(../multimedia/choiinstalaciones.jpg);
        background-size: cover;
        background-position: center;
    }

    .itemh{
       
        background-image: url(../multimedia/pelotapaleta.jpg);
        background-size: cover;
        background-position: center;
    }

    .itemi{
        
        background-image: url(../multimedia/boxeo.jpg);
        background-size: cover;
        background-position: center;
    }

}

@media only screen and (min-width:360px){

    .contenedorInstalaciones{
        
    }
    .itema {

        grid-column: 1/3;
        grid-row: 1/2;
       
    }
    
    .itemb {
        grid-column: 1/3;
        grid-row: 2/3;
        
    }
    
    .itemc {
        grid-column: 1/3;
        grid-row: 3/4;
       
    }
    
    .itemg {
        grid-column: 1/3;
        grid-row: 7/8;
       
    }
    
    .iteme {
        grid-column: 1/3;
        grid-row: 5/6;
       
    }
    
    .itemf {
        grid-column: 1/3;
        grid-row: 6/7;
        
    }
    
    .itemd {
        grid-column: 1/3;
        grid-row: 4/5;
       
    }
    
    .itemh{
        grid-column: 1/3;
        grid-row: 8/9;
       
    }
    
    .itemi{
        grid-column:1/3 ;
        grid-row:9/10;
        
    } 
  
}

@media only screen and (min-width:1022px){

    
    .itema {

        grid-column: 1/2;
        grid-row: 1/2;
       
    }

    .itemb {
        grid-column: 2/3;
        grid-row: 1/2;
       
    }

    .itemc {
        grid-column: 3/4;
        grid-row: 1/2;
       
    }

    .itemg {
        grid-column: 1/2;
        grid-row: 2/3;
       
    }

    .iteme {
        grid-column: 2/3;
        grid-row: 2/3;
       
    }

    .itemf {
        grid-column: 3/4;
        grid-row: 2/3;
       
    }

    .itemd {
        grid-column: 1/2;
        grid-row: 3/4;
        
    }

    .itemh{
        grid-column: 2/3;
        grid-row: 3/4;
       
    }

    .itemi{
        grid-column:3/4 ;
        grid-row:3/4 ;
       
    }
}

/* forma para celular 
*/