.ubicacionClub {
    height: auto;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 50px;

}

.direccionClub {

    height: 300px;
    width: 90%;
 
    padding: 50px 150px;


}

.iframeClub {

    height: 500px;
    width: 500px;
}
   

