* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

$colorh:#F5F3E8;
$colorp:#CDBEBA;


body {
    background-image: linear-gradient(skyblue, royalblue, blue);
}


/* --------------------------------------------------------------------------empieza el index------------------------------------------------------------------------------ */
h1{
    text-align: center;
    font-size: 50px;
}

h1,h2,h3{

    font-family: 'Bebas Neue', cursive;
    color: $colorh;
    font-size: 40px;
    margin: 30px;

}

 h3{

     color:$colorp;
     font-size: 30px;
 }

 p{
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    color:$colorp ;
 }

.contenedor__padre{
    margin-top: 50px;
    .elContenedor {
                                                  
        height: 100%;
    
        .contenedor__hijo {
            height: 100%;
            padding: 10px;
    
            .contenedor__hijo--p {
                color: $colorp;
                font-family: 'Cairo', sans-serif;
                font-size: 20px;
                margin-top: 20px;
            }
    
            .contenedor__hijo--img {
    
                width: 400px;
                height: 400px;
                border-radius: 20px;
                
            }
    
    
        }
    }
}
.contenedor__hijo--img:hover{
    transform: scale(1.1);
    transition: 2s;
}









.Carrousel {
    width: 100%;

}

.carousel-inner img {
    width: 100%;
    height: 300px;

}

.carousel-indicators li {

    height: 10px;
    width: 10px;
    border-radius: 50%;
}



.div__section--p {
    /* Primer bloque  BEM*/

    width: 100%;
    height: 300px;
    color: $colorp;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor {

    height: 100%;

}

label{
    color: $colorp;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}
/* --------------------------------novedades------------------------------------------------------------------------------------------------------------------------------------ */






/* --------------------------------------------------------------------------termina index---------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------historia----------------------------------------------------------------------------------- */
@import"nav";

@import"historia";

@import"contacto";

@import"club";

@import"novedades";

@import"actividades";

@import "footer";