.haciendoInstalaciones {
    font-size: 40px;
    height: 150px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: cornsilk;


}

.item {
    border: solid black 2px;
    min-height: 200px;
    min-width: 200px;
}

.item:hover{
    transform: scale(1.1);
    transition: 2s;
}

.contenedorInstalaciones {
    display: grid;
    gap: 10px;
    height: auto;
    width: 90%;
    margin: 0 auto;

    .itema {

        grid-column: 1/2;
        grid-row: 1/2;
        background-image: url(../multimedia/buffetinstalaciones.jpg);
        background-size: cover;
        background-position: center;
    }

    .itemb {
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(../multimedia/gimnasioinstalaciones.jpg);
        background-size: cover;
        background-position: center;
    }

    .itemc {
        grid-column: 3/4;
        grid-row: 1/2;
        background-image: url(../multimedia/salonfitnessinstalaciones.jpg);
        background-size: cover;
        background-position: center;
    }

    .itemg {
        grid-column: 1/2;
        grid-row: 2/3;
        background-image: url(../multimedia/Hàbit_Saludable.jpg);
        /* nose por que no me carga la imagen */
        background-size: cover;
        background-position: center;
    }

    .iteme {
        grid-column: 2/3;
        grid-row: 2/3;
        background-image: url(../multimedia/vestuariosinstalaciones.jpg);
        background-size: cover;
        background-position: center;
    }

    .itemf {
        grid-column: 3/4;
        grid-row: 2/3;
        background-image: url(../multimedia/indoorinstalaciones.jpg);
        background-size: cover;
        background-position: center;
    }

    .itemd {
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url(../multimedia/choiinstalaciones.jpg);
        background-size: cover;
        background-position: center;
    }




}

